[2021-11-03 17:44] vcalzadaga opened #1 "Estilo visual"
Concept art
Diseño de personajes
Diseño de escenarios
Objetos, power ups, coleccionables...
Mapas, botones...

[2021-11-03 17:44] vcalzadaga commented on #1
Este es el modelo del concept

[2021-11-03 18:17] LauFranky opened #2 "Portada"
Diseño de la portada

[2021-11-03 18:28] LauFranky opened #3 "Índice"
Índice de los diferentes puntos del GDD.

[2021-11-03 18:31] LauFranky opened #4 "Introducción"
Concepto del juego: en dos o tres líneas.
Características principales: un listado de los pilares fundamentales que tendrá el juego
ya sea en el aspecto de jugabilidad, mecánicas, narrativa…

[2021-11-03 18:37] LauFranky opened #5 "Género"
Género principal o combinación de géneros que tendrá el videojuego.

[2021-11-03 18:40] LauFranky opened #6 "Plataforma"
Consola, PC… Justificar por qué hemos elegido esa plataforma (podemos apoyarnos en los datos de AEVI).

[2021-11-03 18:42] LauFranky opened #7 "Historia y narrativa"
-Lema
-Historia
-Plot Points
-Narrativa: indicar qué tipo de narrativa o narrativas se adaptan más a la historia y por qué, qué aporta al jugador, qué ventajas e inconvenientes tiene…

[2021-11-03 18:45] LauFranky opened #8 "Personajes"
Personajes jugables: Historia, aspecto gráfico, características, habilidades
NPC´s: Historia, aspecto gráfico, características, habilidades
Enemigos: Historia, aspecto gráfico, características, habilidades

[2021-11-03 18:47] LauFranky opened #9 "Interfaz"
Mapa de navegación: diagrama de bloques donde se muestre la navegación del
usuario durante el juego
Menús
HUD

[2021-11-03 18:48] LauFranky opened #10 "Dinámicas y mecánicas"

[2021-11-03 18:52] LauFranky opened #11 "Movimientos y físicas"
-Controles: durante el juego (si el jugador puede utilizar gamepad y teclado, indicar los
controles de ambos dispositivos) y en la navegación por lo menús.
-Interacción entre elementos.

[2021-11-03 18:58] monocleduck opened #12 "Portada"

[2021-11-03 19:03] #12 closed, assigned to nobody

[2021-11-03 19:09] LauFranky opened #13 "Diseño de niveles"
-Objetivo del jugador.
-Flujo de juego: explicar el transcurso de una partida, los pasos a seguir desde que el juego arranca hasta completar un nivel completo.
-Niveles del juego: describir sus características principales, los enemigos u obstáculos que encontrará el jugador, con especial incidencia en el nivel que tenemos pensado desarrollar para la práctica final.
- Dificultad: hablar de la progr

[2021-11-03 19:10] LauFranky opened #14 "Música y efectos"
Hablar del estilo sonoro que tendrá el juego y recopilar algunas músicas y efectos representativos.

[2021-11-03 19:11] LauFranky opened #15 "Referencias"
Otras obras (videojuegos, libros, películas… ) que nos han influido para diseñar el juego. Por cada título que mencionemos, tenemos que indicar en qué aspectos concretos nos hemos inspirado.

[2021-11-03 19:13] LauFranky opened #16 "Alcance"
(Según nuestra previsión inicial, tenemos que indicar hasta dónde tenemos pensado desarrollar de aquí al mes de marzo, si vamos a modelar los personajes desde cero, en qué aspectos vamos a utilizar material de librerías…)

[2021-11-03 19:13] LauFranky opened #17 "Público objetivo (target)"
Cuanto más específico sea, mejor. Relacionar con los datos publicados en el anuario AEVI.

[2021-11-03 19:15] LauFranky opened #18 "Equipo humano"
- Relación de los miembros del equipo con los perfiles profesionales: ¿De qué nos vamos a encargar cada uno?
- Background del equipo: breve recorrido por la historia del equipo y sus componentes. Incluir alguna fotografía dentro del entorno de trabajo.

[2021-11-07 19:50] yaigh commented on #17
El principal objetivo de Shak'un es proporcionar a nuestros jugadores la mejor experiencia posible en nuestro juego, un videojuego de plataforma en 3D que esta dedicado a un mundo de fantasía. Por eso, nuestro público objetivo son personas entre 12 -30 años, gente con experiencia en videojuegos que ya hayan jugado a juegos de Hack & Slash y  les guste ese tipo de género. Además, nos dirigimos a pe

[2021-11-07 20:41] yaigh commented on #18
Shak'un no es solo un videojuego, es un gran proyecto que hemos desarrollado como un gran equipo. Nosotros estamos muy contentos con todo el trabajo  que hemos dedicado a este proyecto y el gran resultado que estamos teniendo.
Todo empezó con un trabajo de clase, con la maravillosa idea de una de las componentes del grupo, Laura, que era crear un videojuegos en el que los dragones fueran los prota

[2021-11-07 21:32] yaigh commented on #16
Nuestro objetivo principal es desarrollar todo juego por nosotros mismos, todos los modelados (personajes y escenarios), los texturizados, las animaciones, etc.
Pero mientras vayamos avanzando el juego veremos si vamos bien de tiempo para poder realizar todas las partes, sino, recurriremos a modelados básicos como los props, algún objeto de los escenarios o algún modelado secundario.
En la parte d

[2021-11-07 21:35] yaigh commented on #16
Nuestro objetivo principal es desarrollar todo juego por nosotros mismos, todos los modelados (personajes y escenarios), los texturizados, las animaciones, etc.
Pero mientras vayamos avanzando el juego veremos si vamos bien de tiempo para poder realizar todas las partes, sino, recurriremos a modelados básicos como los props, algún objeto de los escenarios o algún modelado secundario.
En la parte d

[2021-11-08 10:18] vcalzadaga commented on #16
Creo que la previsión es demasiado optimista. Deberíais afinar un poco más o, al menos, determinar un orden de prioridad en cada tarea. Por ejemplo: modelaremos el personaje principal, el primer nivel y el primer NPC. Si nos da tiempo, modelaremos también esto o aquello

Intentad que sea lo más realista posible

[2021-11-08 10:21] vcalzadaga commented on #10
Un título que os puede dar ideas con respecto a la mecánica de carga de energía es Infamous. Os paso un gameplay del juego por si os sirve de inspiración
https://www.youtube.com/watch?v=SEH9L4nqO28

[2021-11-08 12:26] LauFranky commented on #7
**Historia**
Hace mucho tiempo, los dragones eran el símbolo del equilibrio del mundo, hasta que un día, el líder de la raza humana Geylong decidió intentar obtener ese poder para sí mismo. Los dragones eran los sustentadores de los diferentes elementos y gracias a eso, el mundo tenía vida, pero ante la avaricia del líder uno a uno fueron siendo capturados.
Los dragones al ser retirados de sus res

[2021-11-08 18:39] vcalzadaga commented on #17
Issue cerrado, no hay más modificaciones

[2021-11-08 18:41] vcalzadaga commented on #17
Has que trabajarlo más... (ejemplo)

[2021-11-08 19:36] LauFranky commented on #7
**Lema**
¡Conviértete en Protector!

[2021-11-08 19:45] yaigh commented on #17
El principal objetivo de Shak'un es proporcionar a nuestros jugadores la mejor experiencia posible en nuestro juego, un videojuego de plataforma en 3D que esta dedicado a un mundo de fantasía. Por eso, nuestro público objetivo son personas entre 12 - 30 años, gente con experiencia en videojuegos que ya hayan jugado a juegos de Hack & Slash y les guste ese tipo de género. Además, nos dirigimos a pe

[2021-11-08 21:59] #17 closed, assigned to yaigh

[2021-11-09 11:07] monocleduck commented on #10
MECÁNICAS
EL desarrollo del juego se centra principalmente en el movimiento y la lucha de nuestro protagonista; cada vez que avanze en a historia, se irá haciendo cada vez más fuerte, ampliando su arsenal y herramientas para poder seguir con su aventura.

El movimiento del juego se basará en simples mecánicas como serían:
- Un salto, usado para ganar altitud.
- Andar y correr para desplazarse por

[2021-11-09 19:31] LauFranky commented on #7
**Narrativa**
Shak´un contará con una narrativa de espina.
El videojuego comenzará contando la historia del pasado de los dragones y el mundo de forma lineal. Comentará paso por paso los sucesos que ocurrieron antes de lo que se encuentre el jugador al inicio de la aventura, sin embargo, a medida que se superen los niveles, habrán animáticas en las que se cuente el pasado de algún personaje o suce

[2021-11-09 19:38] LauFranky commented on #1
**Diseño de personajes (Shönu)**
![Niño_prota](https://user-images.githubusercontent.com/90465415/140992855-f2f6bd21-1b9b-4e4e-914b-53633d948b06.jpg)
![Niño_turnaround](https://user-images.githubusercontent.com/90465415/140993021-4ef81724-56c5-4342-92eb-81d699175bf4.jpg)
![Niño_prota_(Paleta_de_color)](https://user-images.githubusercontent.com/90465415/140993067-b54ec3b8-ea5b-43e6-98df-5e6bd4d4b71

[2021-11-09 22:56] yaigh commented on #16
Nuestro objetivo principal es desarrollar todo juego por nosotros mismos. Pretendemos hacer cada parte del proyecto que se compone en: modelar, texturizar, animar a los personajes y programar el videojuego.
En primer lugar, modelaríamos a Shonü (el personaje principal que controlara el jugador) y al primer NPC, que será un enemigo básico y no a Geylhon (el Boss al final del juego) porque así al em

[2021-11-10 04:26] MaikDitz commented on #5
![1366_2000](https://user-images.githubusercontent.com/90465468/141176335-b69927af-9a0b-469e-a344-d15dc0dfbfd1.jpeg)

Nuestro juego esta compuesto por mas de un género, como es la acción, la estrategia, y la aventura. Destacan estos tres porque al ser un mundo abierto y con mecánicas con combates variados ya estamos involucrando la acción. Luego no todo consta de pelearse sino que también hay que

[2021-11-10 04:40] MaikDitz commented on #9
La interfaz constara de varios menús dentro y fuera de juego. Primero tenemos el menú principal que es el que nos sale cuando entramos por primera vez al juego y es la ventana donde pone los apartados:
-Jugar
-Ajustes
-Salir del juego
![Menu_principal](https://user-images.githubusercontent.com/90465468/141169928-8c25d1a6-bb69-41f1-841c-b4de72490d03.png)

Luego, dentro de la sección jugar tenemos:

[2021-11-10 05:03] MaikDitz commented on #15
Empezamos explicando las referencias audiovisuales que hemos usado para tener unas bases de nuestro juego. Primero, para la cámara queremos que sea un juego en 3ª persona con un ángulo picado centrado enseñando la espalda de nuestro personaje, para tener mejor control visual de lo que esta pasando, basandonos en NieRAutomata.
![imagen_2021-11-10_060037](https://user-images.githubusercontent.com/90

[2021-11-10 08:41] yaigh commented on #6
Shak'un va a ser un juego para consola (PlayStation y Xbox), controlado por mando. Hemos elegido esta plataforma porque según AEVI los usuarios utilizan más consolas que ordenadores para jugar.
Es un juego para un solo jugador.

[2021-11-10 09:10] yaigh commented on #4
Shak'un es un videojuego en el que el jugador controla a Shonü (el protagonista, un niño del tempo Shak'un), su misión es rescatar a los dragones, de este mundo fantástico, de la raza humana, ya que, los dragones son los portadores de los elementos que mantienen el mundo vivo.

El juego se caracteriza principalmente por su historia y por la idea que se transmite tras de ella, salvar a la tierra; p

[2021-11-10 09:44] monocleduck commented on #11
MOVIMIENTOS Y FÍSICAS

CONTROLES:
EL jugador podrá jugar tanto en mando como en teclado y ratón, aunque es aconsejable jugar en mando.
MANDO:
Los gatillos, (R2, R1, L2, L1) estarán dirigidos mayoritariamente a castear los ataques, con posibilidad de aumentar a los botones como cuadrado circulo y demás.
Los joysticks se usarán para el movimiento tanto de la cámara como del personaje (una para cada

[2021-11-10 10:17] monocleduck commented on #13
DISEÑO DE NIVELES

OJETIVO DEL JUGADOR:

El objetivo del jugador es el de llegar al final de cada nivel para gradualmente librear los dragones y obtener sus poderes. El último nivel tendrá como objetivo detener al villano.

FLUJO DE JUEGO:
El jugador será transportado al mundo abierto por el cual podrá desplazarse y explorar, al llegar a la destinación de un nivel, el jugador será transportado a u

[2021-11-10 10:18] monocleduck commented on #13
Tengo la gráfica de dificultad pero no se como subirla.

[2021-11-10 17:43] #16 closed, assigned to yaigh

[2021-11-10 17:45] #18 closed, assigned to yaigh

[2021-11-10 17:48] LauFranky commented on #1
**Diseño de personajes (Geylong)**
![image](https://user-images.githubusercontent.com/90465415/141165681-e3dc9760-2e3a-430d-9d3b-ea88f414382c.png)
![image](https://user-images.githubusercontent.com/90465415/141165839-b7027326-81e3-48d2-ad70-77b27ed81e4b.png)
![image](https://user-images.githubusercontent.com/90465415/141165945-95ccc696-aa3e-4b0d-893d-16b323698460.png)

[2021-11-10 17:50] LauFranky commented on #1
**Diseño de personajes (Ejemplo enemigo humano)**
![image](https://user-images.githubusercontent.com/90465415/141166149-df15573a-de6f-47aa-be01-e72751b5bae2.png)

[2021-11-10 17:52] LauFranky commented on #1
**Diseño de personajes (Ejemplo enemigos criaturas)**
![image](https://user-images.githubusercontent.com/90465415/141166498-e2ee83dc-ad89-446e-b111-02b9156e5ae0.png)

[2021-11-10 17:53] LauFranky commented on #1
**Diseño de personajes (Ejemplos dragones)**
![image](https://user-images.githubusercontent.com/90465415/141166644-899f5d7b-a045-4e76-be1e-14600a392a04.png)
![image](https://user-images.githubusercontent.com/90465415/141166690-c43f61f0-41e4-4cde-bff7-3a6dfa9f5f58.png)

[2021-11-10 18:02] LauFranky commented on #1
**Diseño de escenarios (Nivel de Introducción)**
![image](https://user-images.githubusercontent.com/90465415/141167929-367119d9-75dd-46f6-bc2d-8fc5270643b9.png)
![image](https://user-images.githubusercontent.com/90465415/141167974-be64a9ba-ec1a-4027-880b-61410fccb19f.png)

[2021-11-10 18:03] LauFranky commented on #1
**Diseño de escenarios (Mapa)**
![image](https://user-images.githubusercontent.com/90465415/141168148-b7b33ae3-023f-4563-ad3e-969cef6cf160.png)

[2021-11-10 18:05] LauFranky commented on #1
**Diseño de escenarios (Nivel 1: Tierra)**
![image](https://user-images.githubusercontent.com/90465415/141168281-f2d7dc72-107c-4035-bdd7-b7726044b63d.png)
![image](https://user-images.githubusercontent.com/90465415/141168424-eb93a6b7-5226-46a8-a621-e40bb2082c6a.png)

[2021-11-10 18:05] #4 closed, assigned to yaigh

[2021-11-10 18:07] LauFranky commented on #1
**Diseño de escenarios (Nivel 2: Agua)**
![image](https://user-images.githubusercontent.com/90465415/141168693-069d2830-212e-4168-84c7-ec00c00d602b.png)
![image](https://user-images.githubusercontent.com/90465415/141168739-550bc31f-14c1-40a8-b80d-4ad736e9fa0f.png)
![image](https://user-images.githubusercontent.com/90465415/141168783-2296df5a-333f-4bbf-a183-f049ca5ade86.png)

[2021-11-10 18:08] LauFranky commented on #1
**Diseño de escenarios (Nivel 3: Aire)**
![image](https://user-images.githubusercontent.com/90465415/141168953-00815099-ab07-4e5a-b32b-4fe360533bec.png)
![image](https://user-images.githubusercontent.com/90465415/141168984-dd6d7f3d-35a9-4c61-b40f-6095ff8c78f1.png)

[2021-11-10 18:10] LauFranky commented on #1
**Diseño de escenarios (Nivel 4: Luz y Oscuridad)**
![image](https://user-images.githubusercontent.com/90465415/141169286-1e553390-e46d-4d5f-a16d-8557f7f0127c.png)

[2021-11-10 18:19] monocleduck commented on #13
Ahora si se :DDDDDD

![Diseño sin título](https://user-images.githubusercontent.com/79661590/141170605-7c6c4664-af8e-4993-badd-4106877854f0.png)

[2021-11-10 18:23] monocleduck commented on #10
![81B1h7W5NLL _AC_SL1500_](https://user-images.githubusercontent.com/79661590/141171158-defb1352-a813-4ba4-94f7-4f9aa7816d58.jpg)

Ejemplo visual de controles de mando

[2021-11-10 18:29] yaigh commented on #7
**LEMA MEJORADO**
- ¡Tu misión, aniquilar a Geylhon!
- ¡Conviértete en el protector!
- **¡Únete al templo Shak'un y conviértete en el protector!**
- ¡Tu misión, rescatar a los dragones!

[2021-11-10 18:55] LauFranky commented on #7
**Plot points**
· Debido a unas sequía, la familia de Geylhon murió de hambre.
· Geylhon decide movilizar a los humanos para tomar los templos de los elementos y llevarse a los dragones.
· Mueren los mejores guerreros de Shak´un tras varias batallas con los humanos.
· Los humanos se hacen con los dragones.
· La Tierra empieza a morir. Las plantas mueren, el aire se va pudriendo y los animales se v

[2021-11-10 19:00] LauFranky commented on #7
**LEMA**
¡Únete al templo Shak'un y conviértete en el protector!

**HISTORIA**
Hace mucho tiempo, los dragones eran el símbolo del equilibrio del mundo, hasta que un día, el líder de la raza humana Geylhon decidió intentar obtener ese poder para sí mismo. Los dragones eran los sustentadores de los diferentes elementos y gracias a eso, el mundo tenía vida, pero ante la avaricia del líder uno a uno

[2021-11-10 19:00] #7 closed, assigned to yaigh, LauFranky

[2021-11-10 19:01] #5 closed, assigned to monocleduck, MaikDitz

[2021-11-10 19:11] yaigh commented on #15
**REFERENCIAS PARA PORTADA DEL JUEGO**

![26fa29cf804adc1f0ad096a7a99abd87](https://user-images.githubusercontent.com/90465328/141177773-3877fc7f-d1ae-4b7d-b081-28b34f374a5c.jpg)

![ce4dee8232ac79d220aeeb1680252487](https://user-images.githubusercontent.com/90465328/141177781-3cff1d27-06dc-41df-9868-3484d40aa0a7.jpg)

[2021-11-10 19:20] monocleduck commented on #11
![mando bien hecho](https://user-images.githubusercontent.com/79661590/141179171-4445ed54-3b63-4f65-bd2e-1b4f8c9ef046.png)

[2021-11-10 19:26] #15 closed, assigned to MaikDitz

[2021-11-10 19:27] #9 closed, assigned to MaikDitz

[2021-11-10 19:32] MaikDitz commented on #14
Para nuestra música ambiental que va a estar de fondo en nuestro juego hemos pensado en usar estas dos bandas sonoras como referencia:
-https://youtu.be/P2JNQhAsIHA
-https://www.youtube.com/watch?v=0NhwEQEercE
Luego, cuando entremos en combate necesitamos unas canciones más fuertes y energéticas, para ello hemos pensado en la banda sonora de Monster Hunter World, cuando el personaje entra en un co

[2021-11-10 19:32] #14 closed, assigned to MaikDitz

[2021-11-10 23:06] LauFranky commented on #8
**Personaje jugable**
-**Sonu**

![image](https://user-images.githubusercontent.com/90465415/141202046-c9792e00-0192-44f7-8661-9e0806d3a036.png)

Shönu es el personaje principal que controla el jugador. Es un niño de 10 años de estatura media y delgado con un aspecto inspirado en los monjes budistas. Pertenece al templo Shak’un, que son los encargados de proteger a los dragones.
Es un niño valient

[2021-11-10 23:06] #8 closed, assigned to LauFranky

[2021-11-11 16:37] alhgo opened #19 "Sistemas de partículas"
Aunque queda mucho desarrollo todavía, creo que es importante ir investigando cómo crear sistemas de partículas impactantes, porque en un juego como este es el que le da calidad. Dejo aquí algunos vídeos que pueden ayudarnos (veremos que se pueden crear efectos impactantes a partir de imágenes 2D):

Lanzar conjuros a partir de imágenes creadas en Photoshop:
https://www.youtube.com/watch?v=-P09r-AL

[2021-11-11 18:06] LauFranky commented on #2
![Dibujo portada](https://user-images.githubusercontent.com/90465415/141347395-37df254d-7a9a-40e7-94aa-b4e643a6eb22.jpg)

[2021-11-11 18:06] LauFranky commented on #2
![Portada](https://user-images.githubusercontent.com/90465415/141347448-4eeb063d-71ec-450c-a200-0e47fa14f5f7.jpg)

[2021-11-11 18:06] #2 closed, assigned to LauFranky

[2021-11-11 20:36] LauFranky commented on #1
**CONCEPT ART**
**Diseño de personajes**

- **Shonu**
Diseño principal:

![image](https://user-images.githubusercontent.com/90465415/141358900-2c436f12-5826-40f1-a8d0-42425d8d76a0.png)

Turn around:

![image](https://user-images.githubusercontent.com/90465415/141359121-d65c2981-84bc-4538-a457-347d52e4470c.png)

Pruebas de color:

![image](https://user-images.githubusercontent.com/90465415/14135925

[2021-11-11 20:36] #1 closed, assigned to LauFranky

[2021-11-11 21:42] yaigh commented on #6
Shak'un esta pensado para un solo jugador. Va a ser un juego para consola (PlayStation o Xbox), controlado por un mando. Hemos elegido estas plataformas porque según AEVI hay un porcentaje mayor en los usuarios que juegan en consolas a los que juegan en el ordenador y también, porque nuestro equipo siempre ha preferido jugar en consolas y al tener mayor experiencia en esta plataforma nos resultará

[2021-11-11 21:42] #6 closed, assigned to monocleduck, yaigh, LauFranky, MaikDitz

[2021-11-11 21:56] #11 closed, assigned to monocleduck

[2021-11-11 21:58] #13 closed, assigned to monocleduck

[2021-11-11 22:01] #10 closed, assigned to monocleduck

[2021-11-12 22:38] LauFranky commented on #3
ÍNDICE

1.	Introducción	2
2.	Género	2
3.	Plataforma	4
4.	Historia y narrativa	4
LEMA	4
HISTORIA	4
PLOT POINTS	5
NARRATIVA	5
5.	Personajes	5
PERSONAJE JUGABLE	5
ENEMIGO	7
OTROS ENEMIGOS HUMANOS Y CRIATURAS	7
NPCs	8
6.	Estilo visual	8
CONCEPT ART	8
7.	Interfaz	21
8.	Dinámicas y mecánicas	23
MECÁNICAS	23
DINÁMICAS	25
9.	Movimientos y físicas	25
MOVIMIENTOS	25
FÍSICAS	26
10.	Diseño de niveles	27
OJETI

[2021-11-12 22:38] #3 closed, assigned to yaigh, LauFranky

[2021-11-15 22:41] yaigh opened #20 "Presentación del GDD"
Presentación del GDD para el día17 de noviembre.

[2021-11-17 08:21] yaigh commented on #20
Terminado (pero no puedo subirlo aquí porque no acepta PDF.)

[2021-11-17 08:21] #20 closed, assigned to yaigh

[2021-11-29 17:56] alhgo opened #21 "Modelar personaje principal"
Modelado del personaje

- [x] Bocetos
- [ ] Modelado
- [ ] Mapas UV's
- [ ] Texturas

[2021-11-29 18:02] alhgo opened #22 "Creación del escenario"
**1. Trabajo previo y fondo:**
- [x] Concept del escenario
- [x] Concept de los props y obstáculos
- [x] Crear fondo con zeppelines islas flotantes. Sería bueno elegir ya el skydome.

**2. Escenarios:**
- [x] Tienda
- [x] Zeppelin grande
- [x] Isla del dragón

**3. Programación y postpro**
- [x] Mecánicas y programación
- [x] Texturizar e iluminación

[2021-11-29 18:13] yaigh opened #23 "Guion de la Demo"
- [x] En qué va a consistir la historia y el desarrollo de nivel
- [x] Pensar las animáticas
- [x] Idear las dinámicas y mecánicas para enseñar a jugar.
- [x] Instrucciones de las mecánicas que dirigirán al jugador.

[2021-11-29 18:21] yaigh opened #24 "Rigging y Skinning"
- [ ] Rigging de Shönu
- [ ] Rigging del enemigo principal
- [ ] Rigging del enemigos secundarios
- [ ] Rigging del dragón (opcional)

[2021-11-29 18:26] yaigh opened #25 "Programación"
- [x] Movimiento de la cámara y personajes básicos
- [ ] Esquivar
- [x] Animaciones del los personajes
- [x] Ataque normal
- [x] Ataque especial
- [ ] Elemento de tierra (opcional)
- [ ] Elemento de agua
- [ ] IA
- [ ] Comportamiento de los props

[2021-11-29 18:34] yaigh opened #26 "UI"
- [x] Menú de inicio
- [x] Menú de opciones
- [x] Menú de pausa
- [x] Menú de Game Over

[2021-12-01 20:48] LauFranky opened #27 "Concept art"
- [x] Concept de Shönu (protagonista).
- [x] Concept del boss del nivel de la demo.
- [x] Concept de 3 criaturas enemigas.
- [x] Concept de 3 enemigos humanos.
- [x] Diseño visual del nivel / Concept del escenario y de los obstáculos. (Sería bueno ir eligiendo el Skydome)

[2021-12-01 20:54] LauFranky opened #28 "Modelado"
**Modelado personajes**
- [x] Shönu
- [x] Boss
- [x] 2 Enemigos humanos
- [x] Señor Tienda
- [x] Dragón

[2021-12-01 21:04] LauFranky opened #29 "HUD"
- [x] Barra de vida
- [x] Barra de maná
- [x] Indicador coleccionables (monedas)
- [ ] Minimapa
- [ ] Rueda de poderes

[2021-12-01 21:09] LauFranky opened #30 "Texturizado"
- [x] Recopilación de texturas de materiales

**UVs y texturizado de personajes:**
- [x] Shönu
- [x] Dragón de aire
- [x] Boss
- [x] Enemigos humanos

**Texturizado escenario**
- [x] Props
- [x] Obstáculos

**Preparación de imagenes e iluminación Skydome y escenario**
- [x] Skydome de día
- [x] Skydome anocheciendo
- [x] Zeppelines
- [x] Nubes
- [x] Islas flotantes

[2021-12-01 21:16] LauFranky opened #31 "Animación"
**Shönu**
- [x] Caminar
- [x] Correr
- [x] Saltar
- [ ] Agacharse
- [x] Esquivar
- [x] Ataques básicos
- [x] Ataques con poder
- [x] Recibir daño
- [x] Caer
- [x] Muerte

**Enemigos humanos y boss**
- [x] Caminar
- [ ] Esquivar
- [x] Varios ataques
- [x] Recibir daño
- [x] Muerte

[2021-12-13 06:31] alhgo commented on #27
Si tenemos esos concpets tengo que verlos, ya sea aquí en el foro del issue o mejor aún en el repositorio. De todas formas, a estas alturas deberíamos tener el modelado y estar trabajando en las animaciones, así que ahora mismo como concept me valdría un simple boceto.
Si no llegamos a todo, hay que eliminar enemigos y quedarnos con uno de cada raza (o menos). La decisión que se tome que quede reg

[2021-12-13 06:32] alhgo commented on #23
Tenemos algo? Si es así lo quiero ver aquí o en el repositorio. Si no tenemos nada lo que tenemos es un problema. A partir de ese guion os iré sugiriendo cuestiones importantes a resolver de cara a la programación

[2021-12-13 06:35] alhgo commented on #28
Decidme por favor que estamos ya trabajando en esto, y por tanto no debería estar en la columna de "para hacer". Todo lo que se vaya terminando que se suba al repositorio, aunque sea a una carpeta fuera del proyecto Unity, para que yo vaya viéndolo.

[2021-12-13 06:38] alhgo commented on #24
Los bípedos es mejor tirar de animaciones ya hechas, porque si no el tiempo se nos echa encima:
[https://www.mixamo.com/#/?page=1&query=atack](https://www.mixamo.com/#/?page=1&query=atack)

Con el dragón lo tenemos más complicado. Buscad un asset ya hecho o quizás nos tenemos que ir olvidando de ese boss final

[2021-12-13 06:40] alhgo commented on #31
Supongo que no nos hemos planteado hacer las animaciones, sino que las buscaremos hechas, ¿no? Lo digo por el tiempo:
[https://www.mixamo.com/#/?page=1&query=atack](https://www.mixamo.com/#/?page=1&query=atack)

Eso para los bípedos. Las criaturas lo veo más complicado

[2021-12-13 06:42] alhgo opened #32 "¿Hay tiempo para hacer criaturas no humanas?"
Necesito saber qué criaturas se quieren hacer para la demos. Lo digo porque si no son bípedos y no encontramos assets disponibles para hacerlas, quizás haya que descartarlas en la demo por falta de tiempo

[2021-12-15 18:25] yaigh opened #33 "Sonido"
- [x] Sonidos
- [x] Músicas

[2021-12-17 16:40] LauFranky commented on #32
De criaturas tenía pensados una especie de perro y dos tipos de aves. ¿No se podrían conseguir los assets?

[2021-12-24 20:23] LauFranky commented on #23
**Demo**: nivel del aire

**Poderes disponibles**
**TIERRA**
Puñetazo al suelo
Crea escudo de sus brazos (necesario para ciertos enemigos)
Crea espada de sus brazos (necesario para ciertos enemigos)
Levanta un trozo de terreno (esto solo en islas flotantes, no funciona en los zeppelines)

**AGUA**
Se cura (requiere bastante maná)
Burbujas anti gravitatorias (se puede usar sobre objetos o enemigos)

[2021-12-24 20:38] LauFranky commented on #23
Las animáticas serán hechas con dibujos en 2D con colores básicos y con algo de efectos con sistemas de partículas.
Dejo algo de referencia a lo que tengo pensado aquí:

![RefAnimaticas1](https://user-images.githubusercontent.com/90465415/147371568-ccf05d83-1772-4b88-9239-7506c604fcb9.JPG)

![RefAnimaticas2](https://user-images.githubusercontent.com/90465415/147371569-7e681383-a318-42ba-9943-c9a95

[2021-12-24 20:40] LauFranky commented on #23
Para organizarme mejor las animáticas, creo un nuevo issue.

[2021-12-24 20:42] LauFranky opened #34 "Animáticas"
- [ ] Ilustraciones
- [ ] Textos
- [x] Sonido y música
- [ ] Montaje

[2021-12-25 14:33] LauFranky commented on #23
**Instrucciones que recibirá el jugador sobre los controles a lo largo de la demo**

Las instrucciones sobre los controles, consejos para atacar a ciertos enemigos y demás, saldrán en momentos previos a un combate o a alguna situación en concreto (como al inicio del juego). El juego se paralizará y saldrán estos mensajes en cuadros de texto en la pantalla, con la opción de que el jugador le de a u

[2021-12-25 14:33] #23 closed, assigned to yaigh, LauFranky

[2021-12-25 16:03] LauFranky commented on #27
**Concepts de Shönu**

Este es el atuendo básico de Shönu.

![image](https://user-images.githubusercontent.com/90465415/147387320-79cecb8e-d591-42dc-b910-2be07c1f9c17.png)

Sin embargo en el nivel del aire se cambia de ropa y añade al conjunto unas gafas y una máscara de gas. Dejo aquí los bocetos que he hecho:

![image](https://user-images.githubusercontent.com/90465415/147388936-950f5189-f6b9-45

[2021-12-25 16:17] LauFranky commented on #28
El modelado de Shönu ya está en proceso, tengo que terminar de arreglarle la malla, añadirle la ropa y estaría listo para empezar a texturizarle y añadirle las animaciones (que las cogeremos ya hechas de la web que nos pasaste). Dejo aquí una foto del modelado que estoy trabajando:

![Shönu](https://user-images.githubusercontent.com/90465415/147389165-99c420e4-db59-4e4b-9b58-13575daef0be.JPG)
![Sh

[2021-12-26 09:44] yaigh commented on #24
Estoy comenzando con el rig de Shönu en maya, lo estoy haciendo con el modelado base que tenemos de él (que está en es issue de Modelado), voy hacer la estructura de huesos y los controladores. Cuando tengamos la malla arreglada y la ropa hago el skinning.

[2021-12-26 09:50] yaigh commented on #19
Estoy investigando todo lo que puedo sobre el sistema de partículas y decidiendo lo que vamos hacer cuando las animaciones estén acabadas.

[2021-12-27 13:18] alhgo commented on #19
Ahora que hemos decidido pasar a URP en Unity, y podemos usar Shader Graph y VFX, recomiendo explorar la posibilidad de usarlo para crear sistemas de partículas a partir de shaders. Aquí un vídeo que por ejemplo muestra cómo crear rayos: https://www.youtube.com/watch?v=40m_HUENh3E

[2021-12-27 13:28] alhgo commented on #24
Hay muchos vídeos de cómo llevar las animaciones desde Maya a Unity mediante la exportación en FBX. Os dejo [este ](https://youtu.be/sM5zE5lmr58)que es corto, pero os recomiendo hacer pruebas para comprobar que el flujo de trabajo funciona bien. A la vuelta de vacaciones haremos alguna prueba para la siguiente práctica

[2021-12-27 13:31] alhgo commented on #28
Haced cuanto antes una prueba de animación para comprobar que todo funcione bien, para ello entiendo que tendréis que añadir un rigg al modelo (maya tiene ya preconfigurados para bípedos?) y tendremos que hacer el pesado de vértices. Una vez hecho, podemos añadir animaciones de Mixamo y comprobar que funciona bien. Lo dicho, unas pruebas vendrían bien para no encontrarnos sustos de última hora.

[2021-12-27 13:33] alhgo commented on #27
Genial. Ya me diréis qué hacemos con los enemigos (no descartéis coger assets de Internet que tengan ya el modelado y las animaciones, aunque suponga usar diseños que no son los nuestros)

[2021-12-27 13:40] alhgo commented on #23
El nivel que habéis planteado es muy largo y muy complejo. Me parece genial, pero seguramente tengamos que reducirlo a algo que podamos hacer. Vosotros que sabéis mejor lo que se tiene ya avanzado y lo que no decidid con qué nos quedamos y con qué no.
Las animáticas son relativamente fáciles de hacer y con una buena música y unos buenos efectos hacen subir muchos puntos al juego. Os recomiendo tra

[2021-12-27 13:44] alhgo commented on #34
Como he comentado en el otro issue, si os curráis unas buenas animáticas la experiencia del usuario será realmente buena, aunque tengamos que descartar partes del nivel. Combinar efectos VFX y sistemas de partículas con imágenes fijas da un efecto muy bueno. Decidme en qué estamos pensando y buscamos assets o incluso tutoriales para crearlas (chispas, fuego, rayos, etc.)

[2021-12-27 17:08] yaigh commented on #19
**TURORIALES VFX DE UNITY QUE PODEMOS UTILIZAR**:
- https://www.youtube.com/watch?v=u9lOaPVtSqg (Electricidad)
- https://www.youtube.com/watch?v=sgBbnF3r60U&t=3s (Ataques)
- https://www.youtube.com/watch?v=IVj7-usBxHo (Sangre)
- https://www.youtube.com/watch?v=1GPvI-5bOSk (Hacer brillar a las estatuas de dragones)
- https://www.youtube.com/watch?v=H5QZhChfa1I (Brillo para las armas)
- https://www.

[2021-12-28 10:56] alhgo commented on #19
Buen trabajo de investigación. Os recomiendo, si no lo habéis hecho ya, crear una escena de pruebas en vuestro proyecto de Unity y la persona encargada de esto que empiece a trastear con materiales y efectos, y lo que vaya consiguiendo lo podrán usar el resto en el proyecto final.
Para usar Shader Graph tenéis que tener actualizado el proyecto al Universal Render Pipeline (que ya debería estar), p

[2021-12-28 12:31] alhgo commented on #32
Hola. Es antiguo este issue, pero ahora en navidad podemos efectivamente buscar assets que se ajusten a lo que buscamos. Tanto en la asset store de Unity, como modelos en Internet que estén ya riggeados y animados. Creo que eso es más fácil que hacerlos nosotros, aunque renunciemos a parte del diseño

[2021-12-29 19:27] LauFranky commented on #32
Gracias Álvaro, voy a mirar lo de la asset store. De todas formas, como sé que no da tiempo a modelar todo ni por asomo, ya tengo varias páginas con modelados de todo tipo gratuitos. Pensaba tirar mucho de ellas sobre todo para el escenario y los props. Lo que había pensado también era descargar como tú dices, modelos para los enemigos y modificarlos un poco. Eso ahorra mucho tiempo e igualmente l

[2021-12-29 19:29] LauFranky commented on #27
Lo tengo en cuenta, como acabo de decir en la respuesta del otro issue. Por cierto, entre hoy y mañana subiré ya todos los concepts y cerraré este issue.

[2021-12-29 19:38] LauFranky commented on #28
Dejo por aquí la lista de paginas y addons que podemos utilizar para conseguir todo lo necesario para los escenarios y demás:

- Blender Kit (addon blender)
Tiene objetos, materiales, hdri, escenarios ya hechos, personajes...
- Poly heaven (página)
Modelados hechos para Blender, textures sets, hdri...
- Sketchfab (página con addon propio para blender)
- CGTrader (página con opciones gratuitas)

[2021-12-30 18:22] yaigh commented on #28
**POSIBLES MODELADOS:**
- https://free3d.com/es/modelo-3d/alien-animal-update-in-blender-28x-953251.html (Criatura)
- https://free3d.com/es/modelo-3d/black-dragon-rigged-and-game-ready-92023.html (Dragón-rig)
- https://www.turbosquid.com/es/3d-models/3d-grey-wolf-rig-1390070 (Lobo-rig)
- https://www.turbosquid.com/es/3d-models/dragon-body-concept-2019-3d-1441597 (Dragón sin cabeza)
- https://free3

[2021-12-30 20:40] LauFranky commented on #27
**Concept de las criaturas enemigas**

![Criatura perro](https://user-images.githubusercontent.com/90465415/147786587-93edeb5c-207b-4034-afe5-d7a0d30847d7.jpg)

![Criaturas aves](https://user-images.githubusercontent.com/90465415/147786600-9329779c-c38e-4666-8ab8-28a61ed53e71.jpg)

[2021-12-30 20:45] LauFranky commented on #27
Acerca del **diseño visual que tendrá el nivel del aire**, dejo aquí unas referencias muy buenas sobre lo que tengo en mente:

![image](https://user-images.githubusercontent.com/90465415/147786792-0c9ecc63-45b7-4b4c-8021-a083ec50fa7b.png)

![image](https://user-images.githubusercontent.com/90465415/147786784-37fc7fbc-c90a-4f9b-a6a8-deac50987bfa.png)

![image](https://user-images.githubusercontent.

[2022-01-01 13:28] LauFranky commented on #27
**Concept Boss del nivel**

![Boss](https://user-images.githubusercontent.com/90465415/147851664-c1da90a6-3b24-4b15-8d29-efed80c350ea.jpg)

[2022-01-01 20:17] LauFranky commented on #27
**Concept enemigos humanos**

![Enemigos humanos](https://user-images.githubusercontent.com/90465415/147859393-7200f122-66d9-4c81-85ea-c20b089c39c2.jpg)

[2022-01-01 20:17] #27 closed, assigned to LauFranky

[2022-01-02 11:34] yaigh commented on #19
Había instalado el paquete de Visual Effect Graph, pero me estaba volviendo loca con los tutoriales y he encontrado uno de inicio a los shaders que lo explica bastante bien para poder seguir con los demás tutoriales:
- https://www.youtube.com/watch?v=O75iGGUQXBI
- https://www.youtube.com/watch?v=Ar9eIn4z6XE

[2022-01-02 11:55] yaigh commented on #31
Estoy haciendo pruebas con Shönu en la página de mixamo, los movimientos van muy bien, solo tenemos que corregir la malla de Shönu y vestirle pero creemos que vamos hacer todos los movimientos aquí.

https://user-images.githubusercontent.com/90465328/147874917-20c1413e-c61d-4371-9156-847aa723ecdc.mp4

[2022-01-02 14:04] LauFranky commented on #28
Anoche encontré un montón de cosas que podemos usar. Props con estilo steampunk, basemesh models para simplemente vestirlos y tener ya a nuestros personajes, perros y aves para las criaturas...
Me las estoy descargando todas y luego haré por aquí una lista de las cosas que tenemos.

Por otra parte, encontré dos **HDRIs** bastante interesantes **para usar como fondo**. Me he descargado los dos, dej

[2022-01-02 19:38] LauFranky commented on #24
Antes se me ocurrió un problema que podemos tener con las animaciones, ya que no nos han eseñado a "pegar" la ropa al modelado de nuestro personaje, por lo que en una animación la ropa quedaría estática en un sitio y he encontrado un tutorial que puede venir bien.

Lo dejo por aquí porque se trata de riggear la ropa en Maya:

https://www.youtube.com/watch?v=2oZxGf_KDcw

[2022-01-03 12:05] yaigh commented on #28
**MODELADOS IMPORTANTES:**
- https://www.cgtrader.com/free-3d-models/aircraft/other/airship-high-poly-stylized-steampunck (**ZEPELLIN DEFINITIVO**)
- https://www.cgtrader.com/free-3d-models/vehicle/other/steampunk-glasses-low-poly (Gafas para Shönu)
- https://www.cgtrader.com/free-3d-models/various/various-models/dragon-jaw-portal (altar o portal)
- https://www.cgtrader.com/free-3d-models/exterior

[2022-01-04 22:38] LauFranky commented on #28
Lista de modelados gratuitos que he encontrado:

**Para el fondo**
Aparte de los HDRIs que enseñé por aquí tenemos varios modelos de zepelines, de nubes y encontré islas flotantes. Dejo por aquí el enlace de descarga, hay islas de diferentes formas para darle variedad:

- https://www.cgtrader.com/3d-models/exterior/cityscape/floating-mountain-over-sci-fi-city-base
- https://www.cgtrader.com/3d-mod

[2022-01-04 23:33] LauFranky commented on #28
**Props**

Espada del boss
https://www.cgtrader.com/free-3d-models/military/melee/steampunk-sword-dabc7480-878a-4fbf-9c56-923797db382f
Cofre
https://www.cgtrader.com/free-3d-models/furniture/other/fantasy-chest-1dd95585-f1b4-4236-bad5-9ebd5edad3dd
Barandilla
https://www.cgtrader.com/free-3d-models/interior/other/classic-handrail
Columna hueca para los fuegos del zeppelin
https://www.cgtrader.com/f

[2022-01-05 10:13] yaigh commented on #22
Vamos a empezar a montar los escenarios. Estamos pensando en importar todos los modelados a Unity y en Unity montar los escenarios, hacer prefabs de los objetos e ir colocándolos todos en la escena, o podemos montar el escenario completo en maya y después pasarlo a Unity.

 Álvaro, ¿Dónde crees que mejor montar el escenario?

[2022-01-05 13:35] LauFranky commented on #22
No recordaba que teníamos este issue para los escenarios. Muevo las cosas que subimos en el de Modelado a este para organizarnos mejor.

[2022-01-05 13:36] LauFranky commented on #22
Anoche encontré un montón de cosas que podemos usar. Props con estilo steampunk, basemesh models para simplemente vestirlos y tener ya a nuestros personajes, perros y aves para las criaturas...
Me las estoy descargando todas y luego haré por aquí una lista de las cosas que tenemos.

Por otra parte, encontré dos **HDRIs** bastante interesantes **para usar como fondo**. Me he descargado los dos, dej

[2022-01-05 13:41] LauFranky commented on #22
Lista de modelados gratuitos que he encontrado:

**Para el fondo**
Aparte de los HDRIs que enseñé por aquí tenemos varios modelos de zepelines, de nubes y encontré islas flotantes. Dejo por aquí el enlace de descarga, hay islas de diferentes formas para darle variedad:

- https://www.cgtrader.com/3d-models/exterior/cityscape/floating-mountain-over-sci-fi-city-base
- https://www.cgtrader.com/3d-mod

[2022-01-05 13:43] LauFranky commented on #22
**Props**

Espada del boss
https://www.cgtrader.com/free-3d-models/military/melee/steampunk-sword-dabc7480-878a-4fbf-9c56-923797db382f
Cofre
https://www.cgtrader.com/free-3d-models/furniture/other/fantasy-chest-1dd95585-f1b4-4236-bad5-9ebd5edad3dd
Barandilla
https://www.cgtrader.com/free-3d-models/interior/other/classic-handrail
Columna hueca para los fuegos del zeppelin
https://www.cgtrader.com/f

[2022-01-05 17:59] LauFranky commented on #28
Ya está terminado el modelo de Shönu con la malla arreglada y vestido. No me deja subir aquí el archivo .obj, ni .blend, ni .rar... Subo una imagen de cómo ha quedado y lo paso por el grupo que tenemos:

![Captura](https://user-images.githubusercontent.com/90465415/148265957-c4118db0-d3b2-4300-99db-7fb5c14eff8e.JPG)

![Captura1](https://user-images.githubusercontent.com/90465415/148265970-e7fd5f3a

[2022-01-07 21:31] LauFranky commented on #28
Ya he hecho el cuerpo de la enemiga mujer, solo faltaría vestirla y ponerla el pelo. Dejo aquí foto de cómo va:

![Captura](https://user-images.githubusercontent.com/90465415/148610048-0021ec45-95c1-44d9-ab8c-a3155c9d0cad.JPG)

[2022-01-08 13:59] LauFranky commented on #28
Y este es el cuerpo del que voy a partir para hacer a los dos enemigos hombres diferentes y al boss de la demo:

![Captura1](https://user-images.githubusercontent.com/90465415/148646922-764131c1-440f-41b8-b437-ffa0164a77fd.JPG)

Ya solo tendría que modificar la geometría para darles rasgos diferentes y vestirles. Primero empezaré con el boss (que es el más importante) y luego con los demás. Estimo

[2022-01-09 10:56] yaigh commented on #31
Sigo con las pruebas de Shönu en Mixamo, los movimientos funcionan muy bien , los brazos y las piernas responden bien a los movimientos, lo único malo es la ropa, más concretamente el pantalón porque hace pliegues raros en algunos movimientos, el resto de la ropa también funciona muy bien.

https://user-images.githubusercontent.com/90465328/148679171-e43a8347-aaea-428d-b248-5275153e9f82.mp4

https

[2022-01-09 11:06] yaigh commented on #31
Algunos videos son muy pesados para subirlos, por eso os los dejo aquí comprimidos por si los queréis ver.
Este video es de Shönu, muevo la cámara a su alrededor para que se puedan ver todos los movimientos.

[Mixamo - Google Chrome 2022-01-09 12-01-08.zip](https://github.com/CIFP-Jose-luis-Garci/Shakun/files/7834905/Mixamo.-.Google.Chrome.2022-01-09.12-01-08.zip)

[2022-01-09 11:06] yaigh commented on #31
Algunos videos son muy pesados para subirlos, por eso os los dejo aquí comprimidos por si los queréis ver.
Este video es de Shönu, muevo la cámara a su alrededor para que se puedan ver todos los movimientos.

[Mixamo - Google Chrome 2022-01-09 12-01-08.zip](https://github.com/CIFP-Jose-luis-Garci/Shakun/files/7834905/Mixamo.-.Google.Chrome.2022-01-09.12-01-08.zip)

[2022-01-10 16:18] yaigh commented on #30
Los materiales o los texturizados son lo último pero hay que tener las UV´S hechas de cada modelado y al final del juego meter todos los materiales directamente en Unity

[2022-01-10 18:03] monocleduck commented on #25
Ya he subido el primer prototipo, hay varios bugs que he encontrado mientras he ido desarrollandolo.

Bugs conocidos:

Movimineto dcho e izdo va describiendo un circulo en vez de  mover en linea recta, est es debido a que se mueve dependiendo de la rotación del personaje, por lo que lo mejor sería que el movimineto ws y ad fueran aparte.

Giro de cara va al revés, W y S hace mirar a izda y dcha y

[2022-01-10 19:23] yaigh opened #35 "Diagrama de Gantt"
![Diagrama Gantt](https://user-images.githubusercontent.com/90465328/148826378-7470696e-8134-4e08-8d5e-ca9eaecc866d.jpg)

[2022-01-10 19:24] #35 closed, assigned to monocleduck, yaigh, LauFranky, MaikDitz

[2022-01-10 19:27] yaigh opened #36 "PRESUPUESTO Y FINANCIACIÓN"
Presupuesto y financiación para Shak'un

[2022-01-10 19:29] yaigh commented on #35
Los demás archivos no los admite GitHub, pero están todos subidos al aula virtual.

[2022-01-11 12:28] LauFranky commented on #28
Doy por finiquitado del todo el modelado de Shönu. Le estuve añadiendo algunos retoques más y le he añadido la máscara de gas y las gafas. Dejo aquí un video de cómo ha quedado.
PD: Estoy ya trabajando con el boss. Lo subiré aquí en breve.

https://user-images.githubusercontent.com/90465415/148942528-569a1d6c-f27d-4a7b-ac1e-625f7ce23ccb.mp4

[2022-01-11 14:38] yaigh commented on #30
Vamos a empezar con las UV'S, vamos hacer las de Shönu para después meterlo en Mixamo y hacer las animaciones.
Antes de acabar el videojuego lo texturizaremos.

[2022-01-11 16:09] yaigh commented on #31
**MOVIMIENTOS DE SHÖNU EN MIXAMO:**

- [ ] Low Crawl
- [ ] Big Jump
- [ ] Run
- [ ] Fast Run
- [ ] Run Look Back
- [ ] Running Up Stairs
- [ ] Running Slide?
- [ ] Death from right
- [ ] Walking

[2022-01-12 19:13] yaigh commented on #36
[Presupuesto y Financiación_Shakun.zip](https://github.com/CIFP-Jose-luis-Garci/Shakun/files/7857081/Presupuesto.y.Financiacion_Shakun.zip)

[2022-01-12 19:13] #36 closed, assigned to yaigh, LauFranky

[2022-01-17 16:21] yaigh commented on #26
Empiezo UI con distintas escenas

[2022-01-24 12:31] LauFranky commented on #28
Dejo aquí el turnaround de cómo ha quedado el boss modelado y una imagen con los objetos con diferentes colores. Paso el .obj por el grupo que tenemos, ya que no deja subirlo por aquí.

https://user-images.githubusercontent.com/90465415/150783016-cdfe144b-9d8c-4405-a2fa-c0517e05ebb1.mp4

![Captura](https://user-images.githubusercontent.com/90465415/150783325-7985f812-aaaf-4a77-903f-13705840a526.JP

[2022-02-02 17:57] yaigh opened #37 "Formulario Shak'un"
https://docs.google.com/forms/d/e/1FAIpQLSex6rljTsktuzKF3gEdhEMtlWG_0CTmtF2C6-7CCGwaCkP08A/viewform

[2022-02-02 18:02] yaigh commented on #37
[SHAK'UN - Formularios de Google.pdf](https://github.com/CIFP-Jose-luis-Garci/Shakun/files/7988992/SHAK.UN.-.Formularios.de.Google.pdf)

[2022-02-02 18:02] #37 closed, assigned to yaigh

[2022-02-02 18:03] yaigh opened #38 "Pegi"
[Pegi (1).pdf](https://github.com/CIFP-Jose-luis-Garci/Shakun/files/7988998/Pegi.1.pdf)

[2022-02-02 18:03] #38 closed, assigned to nobody

[2022-02-03 12:01] LauFranky opened #39 "Portada y póster"
Esta es la ilustración que usaremos de portada para el juego (con el símbolo pegi correspondiente) y que nos servirá de poster también:

![Portada Pegi](https://user-images.githubusercontent.com/90465415/152338896-acd730b9-f4c5-40d5-8e3a-17a7f90c830f.jpg)

[2022-02-03 12:01] #39 closed, assigned to LauFranky

[2022-02-26 14:14] LauFranky commented on #28
(*Se me olvidó seguir actualizando esto, perdón :(*)
Dejo aquí una muestra del modelado del **enemigo grande**. Ya tiene las UVs hechas y las pruebas de animación:

![image](https://user-images.githubusercontent.com/90465415/155846312-2eb16093-7bdf-4c8b-8699-dbbcd83890cc.png)

[2022-02-26 14:20] LauFranky commented on #28
Este será el señor que atienda a Shonu en la tienda. No tendrá animaciones, pero cuando se acerque a él saldrá un mensaje para el jugador indicándole lo que tiene que hacer para comprar las gafas y la máscara de gas.
(No tiene parte de abajo porque estará detrás de un mostrador. Asi ahorro malla innecesaria):

![image](https://user-images.githubusercontent.com/90465415/155846544-22f35913-0706-4d97

[2022-03-01 16:13] #32 closed, assigned to LauFranky

[2022-03-07 17:11] #33 closed, assigned to LauFranky

[2022-03-07 17:12] #29 closed, assigned to monocleduck, yaigh, LauFranky

[2022-03-07 17:12] #31 closed, assigned to monocleduck, yaigh

[2022-03-07 17:13] #30 closed, assigned to monocleduck, yaigh, LauFranky, MaikDitz

[2022-03-07 17:13] #22 closed, assigned to monocleduck, yaigh, LauFranky, MaikDitz

[2022-03-07 17:13] #24 closed, assigned to yaigh

[2022-03-07 17:14] #26 closed, assigned to yaigh, LauFranky

[2022-03-07 17:14] #19 closed, assigned to yaigh